{
  "channelWeights": [
    0,
    0,           // App
    0,
    600,         // PDL
    1200         // cashloan
  ],
  "onlineJobWeights": {
    "AppHeadPhotoQueueV2": 930,
    "AppIDCardPhotoQueueV2": 940,
    "AppImageComparisonQueueV2": 40,
    "AppCompetitorSituationQueueV2": 550,
    "AppCustomPhoneQueueV2": 830,
    "AppInfoEnteringQueueV2": 430,
    "AppIOUQueueV2": 3680,
    "AppBuckleQueueV2": 3710,
    "AppMerchantPhoneQueueV2": 3720,
    "AppContactPhoneQueueV2": 530,
    "AppHomeCreditForMaleQueueV2": 500,
    "AppHomeCreditForFemaleQueueV2": 390,
    "AppCompanyPhoneQueueV2": 450,
    "AppBankCardQueueV2": 950,
    "AppPersonalInfoQueueV2": 320,
    "AppCourtExecutedQueueV2": 360,
    "AppTransactionMonitorJobRequestQueue": 1300,
    "AppLoanQueueV2": 180,
    "AppFinishApplicationQueueV2": 600,
    "AppWorkPermitQueueV2": 9600,
    "AppGroupPhotoQueueV2": 550,
    "AppNoticeFormQueueV2": 960,
    "AppCLHeadPhotoQueue": 600,
    "AppCLCustomerPhoneQueue": 1500,
    "AppCLManualLoanQueue": 600,
    "AppDGroupPhotoQueueV2": 740
  },
  "averageDuration": 19,
  "averagePatience": 20,
  "offlineJobOrders": [
    "AppCheckD1FeedbackQueueV2",
    "AppWelcomeCallQueueV2",
    "AppRepaymentRemindQueueV2",
    "AppPaybackEntryQuestionQueueV2"
  ],
  "examinerPrefixes": [
    "hd",
    "zd",
    "zt",
    "ht",
    "hl"
  ]
}
